<!-- <p>dinningroom-view-item works!</p> -->
<div  fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
    <div fxFlex="34%">
        <table style="width: 100%;margin-top: 3px;">
            <tr>
                <td rowspan="11" style="vertical-align: top;width: 160px;">
                    <span style="font-weight: bold;">M. DINNING ROOM</span>
                </td>
                <td style="widows: 100%;border: 1px solid black;text-align: left;">
                    Ceilings</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Walls and Trim
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Floor/Carpet
                </td>                        
            </tr>            
            <tr>
                <td style="border: 1px solid black;text-align: left; font-size: .8em;line-height: 1.9;">Lighting Fixtures/Ceiling Fan/Bulbs</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Windows/Coverings/Screens</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="visibility: hidden;">Other</span></td>
                
            </tr>
            
        </table>
    </div>
    <div fxFlex="33%">
        <table style="width: 100%;margin-top: 3px;margin-left: -1px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionIn.cellingCmnts == ''">{{dinningRoomSectionDetails.conditionIn.cellingCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionIn.cellingCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionIn.wallTrimCmnts == ''">{{dinningRoomSectionDetails.conditionIn.wallTrimCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionIn.wallTrimCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionIn.floorCmnts == ''">{{dinningRoomSectionDetails.conditionIn.floorCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionIn.floorCode | code}}</td>
            </tr>
            
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionIn.lightingCmnts == ''">{{dinningRoomSectionDetails.conditionIn.lightingCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionIn.lightingCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionIn.windowsCmnts == ''">{{dinningRoomSectionDetails.conditionIn.windowsCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionIn.windowsCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionIn.electricCmnts == ''">{{dinningRoomSectionDetails.conditionIn.electricCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionIn.electricCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionIn.otherCmnts == ''">{{dinningRoomSectionDetails.conditionIn.otherCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionIn.otherCode | code}}</td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
    <div fxFlex="33">
        <table style="width: 100%;margin-top: 3px;margin-left: -3px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionOut.cellingCmnts == ''">{{dinningRoomSectionDetails.conditionOut.cellingCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionOut.cellingCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionOut.wallTrimCmnts == ''">{{dinningRoomSectionDetails.conditionOut.wallTrimCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionOut.wallTrimCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionOut.floorCmnts == ''">{{dinningRoomSectionDetails.conditionOut.floorCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionOut.floorCode | code}}</td>
            </tr>
            
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionOut.lightingCmnts == ''">{{dinningRoomSectionDetails.conditionOut.lightingCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionOut.lightingCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionOut.windowsCmnts == ''">{{dinningRoomSectionDetails.conditionOut.windowsCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionOut.windowsCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionOut.electricCmnts == ''">{{dinningRoomSectionDetails.conditionOut.electricCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionOut.electricCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span [class.hide]="dinningRoomSectionDetails.conditionOut.otherCmnts == ''">{{dinningRoomSectionDetails.conditionOut.otherCmnts | empty}}</span>
                </td>
                <td style="border: 1px solid black;text-align: center;">{{dinningRoomSectionDetails.conditionOut.otherCode | code}}</td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
</div>
