<!-- <p>signin works!</p>
<a routerLink="/home">Login</a>
<a routerLink="/about">About</a> -->
<div class="signin-banner" fxLayout="column" fxLayoutAlign="center center">
    <span class="logo" style="text-align: center;"></span>
</div>
<!-- <div >
    <span class="logo" style="text-align: center;">LOGO</span>
  </div> -->
<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="signin-card">
        <mat-card-header fxLayout="row" fxLayoutAlign="center center">
            <div *ngIf="!forgotpassword" fxLayout="row" fxLayoutAlign="center center">
                <div mat-card-avatar>
                    <img src="../../assets/images/signin.png" style="margin-top: -10px;margin-left: -20px;">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">                    
                    <mat-card-title style="text-transform: uppercase;color: #bf360c;margin-top: 10px;margin-left: 10px;">sign in</mat-card-title>
                    <mat-card-subtitle>Signin to start</mat-card-subtitle> 
                </div>
                
            </div>
            
            <div *ngIf="forgotpassword" fxLayout="row" fxLayoutAlign="center center">
                <div mat-card-avatar>
                    <img src="../../assets/images/signin.png" style="margin-top: -10px;margin-left: -20px;">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-card-title style="text-transform: uppercase;color: #bf360c;margin-top: 10px;margin-left: 10px;">Forgot Password</mat-card-title>
                    <mat-card-subtitle>Reset Password</mat-card-subtitle>
                </div> 
            </div>
            
            
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="!forgotpassword">
                <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="signinForm" (ngSubmit)="submit()">
                    <mat-form-field class="form-content form-field">
                        <mat-icon matPrefix class="icon">email</mat-icon>
                        <input type="email" formControlName="email" class="input-margin" matInput placeholder="Email">
                    </mat-form-field>
                    <mat-form-field class="form-content form-field">
                        <mat-icon matPrefix class="icon">lock</mat-icon>
                        <input type="password" formControlName="password" class="input-margin" matInput placeholder="Password">
                    </mat-form-field>
                    <section class="example-section">
                        <mat-checkbox class="example-margin" formControlName="rememberMe">Remember me</mat-checkbox>                    
                    </section>
                    <button mat-raised-button color="primary" class="signin-button">Sign In</button>
                </form>
                <div *ngIf="errMsg" style="text-align: center;color: red;">
                    {{errMsg}}
                </div>
                <div style="text-align:center;">
                    <!-- <p>Sign in....</p>  -->
                    <p *ngIf="loading">
                        <mat-progress-spinner mode="indeterminate" color="accent" diameter="30" style="margin-left: auto;margin-right: auto;">
                        </mat-progress-spinner>
                    </p>
                </div>
            </div>
            <div *ngIf="forgotpassword">
                <app-forgot-password></app-forgot-password>
            </div>
            
            <!-- <div fxLayout="column" fxLayoutAlign="center center">
                <a style="margin-bottom: 25px;" [routerLink]="['/forgotpassword']">Forgot password?</a>
            </div> -->
            
        </mat-card-content>
        <div *ngIf="!forgotpassword" fxLayout="column" fxLayoutAlign="center center">
            <a style="margin-bottom: 25px;" (click)="forgotpassword=!forgotpassword" >Forgot password?</a>
        </div>
        <div *ngIf="forgotpassword" fxLayout="column" fxLayoutAlign="center center">
            <a style="margin-bottom: 25px;" (click)="forgotpassword=!forgotpassword" >Back to Login</a>
        </div>
<!-- [routerLink]="['/forgotpassword']" -->
    </mat-card>

</div>
