<!-- <p>dinningroom-view-item works!</p> -->
<div  fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
    <div fxFlex="34%">
        <table style="width: 100%;margin-top: 3px;">
            <tr>
                <td rowspan="9" style="vertical-align: top;width: 121px;">
                    <span style="font-weight: bold;">R. EXTERIOR</span>
                </td>
                <td style="widows: 100%;border: 1px solid black;text-align: left;">
                    Front and Rear Entrances</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Patio/Balcony Doors
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Garbage Containers 
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Glass and Frames 
                </td>                        
            </tr>             
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Stucco and/or Siding 
                </td>                        
            </tr>           
            <tr>
                <td style="border: 1px solid black;text-align: left; font-size: .8em;line-height: 1.9;">Lighting Fixtures/Ceiling Fan/Bulbs</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Grounds and Walks</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="visibility: hidden;">Other</span></td>
                
            </tr>
            
        </table>
    </div>
    <div fxFlex="33%">
        <table style="width: 100%;margin-top: 3px;margin-left: -1px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
    <div fxFlex="33">
        <table style="width: 100%;margin-top: 3px;margin-left: -3px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
</div>



