<!-- <p>add-section-kitchen works!</p> -->
<form style="width: 100%;" [formGroup]="kitchenForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="submit()">
    <div [@.disabled]="true" style="width:100%">
        <p>Section Type: <span style="font-weight:bold;">Kitchen</span></p>
        <mat-radio-group aria-label="Select an option" (change)="onChange($event)" formControlName="subtype" style="margin-top: 13px;margin-left: 25px;padding-right: 5px;margin-bottom:20px;" nam="before">
            <mat-radio-button value="MainKitchen" style="padding-right: 10px;">Main Kitchen</mat-radio-button>
            <mat-radio-button value="secondaryKitchen" >Secondary Kitchen</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width:100%">
            <!-- <mat-label>Description</mat-label> -->
            <input matInput placeholder="Specify type and description of the area" formControlName="name">
        </mat-form-field>
        <mat-tab-group style="width: 100%;">
            <mat-tab label="BEGINNING OF TENANCY">
                <mat-card class="section-card mat-elevation-z0">
                    <div formGroupName="conditionIn">
                        <mat-card-content fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center center">
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Cellings</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="cellingCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="cellingCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Walls and Trim</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="wallTrimCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="wallTrimCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Floor Carpet</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="floorCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="floorCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Countertop</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="counterTopCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="counterTopCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Cabinets and Doors</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="cabnetsAndDoorsCmnts">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="cabnetsAndDoorsCode">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Store/Stove Top</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="stoveAndStoveTopCmnts">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="stoveAndStoveTopCode">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Oven</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="ovenCmnts">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="ovenCode">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Exhaust Hood and Fan</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="exhaustHoodAndFanCmnts">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="exhaustHoodAndFanCode">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Taps, Sink and Stoppers</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="tapSinkCmnts">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="tapSinkCode">
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Refrigerator: Criper/Shelves</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="frigeSelvesCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="frigeSelvesCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Refrigerator: Criper/Shelves</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="frigeSelvesCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="frigeSelvesCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Refrigerator: Door/Exterior</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="frigeExteriorCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="frigeExteriorCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Closet(s)</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="closetsCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="closetsCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Dishwasher</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="dishWasherCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="dishWasherCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Lighting Fixtures/Bulbs</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="lightingCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="lightingCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Windows/Covering/Screens</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="windowsCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="windowsCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Electric Outlets</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="electricCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="electricCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Other</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="otherCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput  placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="otherCmnts">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </div>
                </mat-card>

            </mat-tab>
            <mat-tab label="END OF TENANCY">
                <div formGroupName="conditionOut">
                    <mat-card class="section-card mat-elevation-z0">
                        <mat-card-content fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Cellings</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="cellingCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="cellingCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Walls and Trim</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="wallTrimCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="wallTrimCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Floor Carpet</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="floorCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="floorCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Countertop</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="counterTopCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="counterTopCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Cabinets and Doors</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="cabnetsAndDoorsCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="cabnetsAndDoorsCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Store/Stove Top</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="stoveAndStoveTopCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="stoveAndStoveTopCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Oven</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="ovenCmnts">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="ovenCode">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Exhaust Hood and Fan</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="exhaustHoodAndFanCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="exhaustHoodAndFanCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Taps, Sink and Stoppers</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="tapSinkCmnts">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="tapSinkCode">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Refrigerator: Criper/Shelves</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="frigeSelvesCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="frigeSelvesCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Refrigerator: Criper/Shelves</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="frigeSelvesCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="frigeSelvesCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Refrigerator: Door/Exterior</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="frigeExteriorCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="frigeExteriorCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Closet(s)</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="closetsCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="closetsCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Dishwasher</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="dishWasherCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="dishWasherCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Lighting Fixtures/Bulbs</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="lightingCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="lightingCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Windows/Covering/Screens</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="windowsCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="windowsCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Electric Outlets</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="electricCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="electricCmnts">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                            <p style="width: 35%;text-align: left;margin-left: 5px;">Other</p>
                            <mat-form-field style="width: 15%;">
                                <mat-label>Code</mat-label>
                                <mat-select id="propertyType1" formControlName="otherCode">
                                    <mat-option *ngFor="let code of codes" [value]="code.name">
                                        {{ code.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                <mat-label>Comments</mat-label>
                                <input matInput  placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="otherCmnts">
                            </mat-form-field>
                        </div>
                        </mat-card-content>
                    </mat-card>
                    
                </div>
            </mat-tab>
        </mat-tab-group>
        <mat-checkbox style="margin-bottom: 20px;width: 100%;" (change)="clicked($event)" [checked]="addMore">Add more section</mat-checkbox>
        <button type="submit" mat-raised-button color="primary" style="margin-top:20px; width: 100%;margin-bottom: 20px;">SAVE & CONTINUE</button>
    </div>
</form>