<!-- <p>kitchen-view-item works!</p> -->
<div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
    <div fxFlex="34%" style="margin-top: -4px;">
        <table style="width: 100%;margin-top: 3px;">
            <tr>
                <td rowspan="19" style="vertical-align: top;width: 160px;">
                    <span style="font-weight: bold;">K. KITCHEN<br>
                        <span style="font-weight: 500;font-size:.8em; margin-left:10px"></span>
                    </span>
                </td>
                <td style="widows: 100%;border: 1px solid black;text-align: left;">
                    Ceilings</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Walls and Trim
                </td>
                
            </tr>

            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Floor/Carpet
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Countertop
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Cabinets and Doors
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Stove/Stove Top 
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Oven
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Exhaust Hood and Fan
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Taps, Sink and Stoppers
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Refrigerator
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="margin-left: 15px;">Crisper/Shelves</span>
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="margin-left: 15px;">Freezer</span>
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="margin-left: 15px;">Door/Exterior </span>
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Closet(s)
                </td>
                
            </tr>
                
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Dishwasher
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left; font-size: .8em;line-height: 1.8;">Lighting Fixtures/Ceiling Fan/Bulbs</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Windows/Coverings/Screens</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;"><span style="visibility: hidden;">Other</span></td>                
            </tr>
            
        </table>
    </div>
    <div fxFlex="33%" style="margin-top: -4px;">
        <table style="width: 100%;margin-top: 3px;margin-left: -1px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;" >
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;" >
                    
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>   
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;color: white;">Details</td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>            
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            
            
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
           
            
            

        </table>
    </div>
    <div fxFlex="33" style="margin-top: -4px;">
        <table style="width: 100%;margin-top: 3px;margin-left: -3px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>

        </table>
    </div>
</div>

