<!-- <p>entry-view-item works!</p> -->
<div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;" *ngIf="entrySectionDetails">
    <div fxFlex="34%">
        <table style="width: 100%;margin-top: 3px;">
            <tr>
                <td rowspan="8" style="vertical-align: top;width: 160px;">
                    <span style="font-weight: bold;text-transform: uppercase;">J. {{entrySectionDetails.type}}</span>
                </td>
                <td style="widows: 100%;border: 1px solid black;text-align: left;">
                    Walls and Trim</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Ceilings
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Closets
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left; font-size: .8em;">Lighting Fixtures/Ceiling Fan/Bulbs</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Windows/Coverings/Screens</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Other</td>
                
            </tr>
            
        </table>
    </div>
    <div fxFlex="33%">
        <table style="width: 100%;margin-top: 3px;margin-left: -1px;" >
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;" >{{entrySectionDetails.conditionIn.wallTrimCmnts}}</td>                
                <td style="border: 1px solid black;text-align: center;" *ngIf="entrySectionDetails.conditionIn.wallTrimCode == 'G'">&#10003;</td>
                <td style="border: 1px solid black;text-align: center;" *ngIf="entrySectionDetails.conditionIn.wallTrimCode != 'G'">{{entrySectionDetails.conditionIn.wallTrimCode}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{entrySectionDetails.conditionIn.cellingCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;"  *ngIf="entrySectionDetails.conditionIn.cellingCode == 'G'">&#10003;</td>
                <td style="border: 1px solid black;text-align: center;" *ngIf="entrySectionDetails.conditionIn.cellingCode != 'G'">{{entrySectionDetails.conditionIn.cellingCode}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{entrySectionDetails.conditionIn.closetsCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;" *ngIf="entrySectionDetails.conditionIn.closetsCode == 'G'">&#10003;</td>
                <td style="border: 1px solid black;text-align: center;" *ngIf="entrySectionDetails.conditionIn.closetsCode != 'G'">{{entrySectionDetails.conditionIn.closetsCode}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
    <div fxFlex="33">
        <table style="width: 100%;margin-top: 3px;margin-left: -3px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                <td style="border: 1px solid black;text-align: center;">n/a</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                <td style="border: 1px solid black;text-align: center;">n/a</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                <td style="border: 1px solid black;text-align: center;">n/a</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                <td style="border: 1px solid black;text-align: center;">n/a</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                <td style="border: 1px solid black;text-align: center;">n/a</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                <td style="border: 1px solid black;text-align: center;">n/a</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                <td style="border: 1px solid black;text-align: center;">n/a</td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
</div>
