<!-- <p>livingroom-view-item works!</p> -->
<div  fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
    <div fxFlex="34%">
        <table style="width: 100%;margin-top: 3px;">
            <tr>
                <td rowspan="11" style="vertical-align: top;width: 160px;">
                    <span style="font-weight: bold;">L. LIVING ROOM</span>
                </td>
                <td style="widows: 100%;border: 1px solid black;text-align: left;">
                    Ceilings</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Walls and Trim
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Floor/Carpet
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Air Conditioner/Cover
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Fireplace
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    TV Cable/Adaptor
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Closets
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left; font-size: .8em;line-height: 1.9;">Lighting Fixtures/Ceiling Fan/Bulbs</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Windows/Coverings/Screens</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Other</td>
                
            </tr>
            
        </table>
    </div>
    <div fxFlex="33%">
        <table style="width: 100%;margin-top: 3px;margin-left: -1px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.cellingCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.cellingCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.wallTrimCmnts}}/td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.wallTrimCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.floorCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.floorCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.AirConditioningCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.AirConditioningCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.FireplaceCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.FireplaceCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.TVCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.TVCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.closetsCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.closetsCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.lightingCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.lightingCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.windowsCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.windowsCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.electricCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.electricCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionIn.otherCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionIn.otherCode | code}}</td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
    <div fxFlex="33">
        <table style="width: 100%;margin-top: 3px;margin-left: -3px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.cellingCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.cellingCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.wallTrimCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.wallTrimCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.floorCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.floorCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.AirConditioningCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.AirConditioningCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.FireplaceCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.FireplaceCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.TVCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.TVCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.closetsCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.closetsCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.lightingCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.lightingCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.windowsCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.windowsCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.electricCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.electricCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{livingRoomSectionDetails.conditionOut.otherCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{livingRoomSectionDetails.conditionOut.otherCode | code}}</td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
    <div style="width:50%;">
        <span style="font-weight:bold;font-style: italic;">
            Residential Tenancy Branch
        </span><br>
        <span style="font-style:italic;">
        Office of Housing and Construction Standards<br>
        #RTB-27 (2011/03)
        </span>
    </div>
    <div class="spacer"></div>
    <div>
        <span style="font-weight:bold;font-style: italic;">page 1 of 4 pages</span>
    </div>
</div>
