<div  fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
    <div fxFlex="34%">
        <table style="width: 100%;margin-top: 3px;">
            <tr>
                <td rowspan="3" style="vertical-align: top;width: 121px;">
                    <span style="font-weight: bold;">T. GARAGE OR PARKING AREA</span>
                </td>
                <td style="widows: 100%;border: 1px solid black;text-align: left;">
                    Electrical Outlets</td>
            </tr>
            
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="visibility: hidden;">Other</span></td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="visibility: hidden;">Other</span></td>
                
            </tr>
            
        </table>
    </div>
    <div fxFlex="33%">
        <table style="width: 100%;margin-top: 3px;margin-left: -1px;">
            
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;visibility: hidden;">
                    N/A
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;visibility: hidden;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;visibility: hidden;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
    <div fxFlex="33">
        <table style="width: 100%;margin-top: 3px;margin-left: -3px;">
            
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;visibility: hidden;">
                    N/A
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;visibility: hidden;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;visibility: hidden;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
</div>
