<form>
    <table style="width:100%">    
        <tr>
            <th style="background: #426890;color: white;text-align: left;vertical-align:bottom;">
                X. Start of Tenancy
            </th>            
        </tr>
        <tr style="line-height: 1.25;">
            <td style="border-bottom: 0;">List Repairs to be complete at the start of the tenancy:</td>
            <!-- <td style="border-bottom: 0;">last name </td> -->
        </tr>
        <tr style="border-bottom: 1px solid #426890; background: #f0eff9;">
            <td style="height:75px"></td>        
        </tr>
        <tr style="line-height: 1.5;">
            <td style="border-bottom: 0;">Y. I (tenant's name) &nbsp;&nbsp;&nbsp;{{report.tenant.legalName}}</td>        
        </tr> 
        <tr>
            <td style="height:25px">
                <input type="checkbox" [checked]="report.agreeAtStart=='agree'" style="vertical-align: bottom;"><span>&nbsp; Agree that this report fairly represents the condition of the rental unit </span>
            </td>
        </tr>
        <tr>
            <td style="height:25px">
                <input type="checkbox" [checked]="report.agreeAtStart !='agree'" style="vertical-align: bottom;"><span>&nbsp; Do not agree that this report fairly represents the condition of the rental until for the following reasons:</span>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid #426890; background: #f0eff9;">
            <td style="height:75px"></td>        
        </tr>
        <tr>
            <th style="background: #426890;color: white;text-align: left;vertical-align:bottom;">
                Z. End of Tenancy
            </th>            
        </tr>
        <tr style="line-height: 1.25;">
            <td style="border-bottom: 0;">List Damage to the rental unit or residential property for which the tenant is responsible:</td>
            <!-- <td style="border-bottom: 0;">last name </td> -->
        </tr>
        <tr style="border-bottom: 1px solid #426890; background: #f0eff9;">
            <td style="height:75px"></td>        
        </tr>
        <tr style="line-height: 1.5;">
            <td style="border-bottom: 0;">1. I (tenant's name)  &nbsp;&nbsp;&nbsp;{{report.tenant.legalName}}</td>        
        </tr> 
        <tr>
            <td style="height:25px">
                <input type="checkbox" [checked]="report.agreeAtEnd=='agree'" style="vertical-align: bottom;"><span>&nbsp; Agree that this report fairly represents the condition of the rental unit </span>
            </td>
        </tr>
        <tr>
            <td style="height:25px">
                <input type="checkbox" [checked]="report.agreeAtEnd !='agree'" style="vertical-align: bottom;"><span>&nbsp; Do not agree that this report fairly represents the condition of the rental until for the following reasons:</span>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid #426890; background: #f0eff9;">
            <td style="height:75px"></td>        
        </tr>      
    </table>
    <table>
        <tr>
            <td style="width:35%;vertical-align: top;">
                2. I, (tenant’s name) &nbsp;&nbsp;&nbsp;{{report.tenant.legalName}}
            </td>
            <td>
                agree to the following deductions from my security and/or pet damage deposit:
            </td>
        </tr>
        <tr style="height: 35px;">
            <td style="width:50%">
                Security Deposit: &nbsp;&nbsp; ${{report.depositDeductedAmt}}
            </td>
            <td>
                Pet Damage Deposit: &nbsp;&nbsp; ${{report.petDepositDeductedAmt}}
            </td>
        </tr>
        <tr style="height: 35px;">
            <td style="width:50%">
                Date: DD/MM/YYYY
            </td>
            <td>
                Signature of Tenant: <span *ngIf="!signatureImg"><a style="width: 200px;color: gainsboro;" [matMenuTriggerFor]="tenantSign" mat-button  target="_blank">Sign here</a></span> <span *ngIf="signatureImg"><img style="margin-left: 25px;" src='{{ signatureImg }}' height="40px"/></span>
            </td>
        </tr>
        <tr style="border-top: 1px solid;">
            <td style="width:35%;vertical-align: top;border-right: 1px solid;">
                3. Landlord’s signature (on move-in) <span *ngIf="!signatureImg3"><a style="width: 250px;color: gainsboro;" [matMenuTriggerFor]="landlordSignMoveIn" mat-button  target="_blank" mat-button  target="_blank">Sign here</a></span> <span *ngIf="signatureImg3"><img style="margin-left: 25px;" src='{{ signatureImg3 }}' height="40px" width="250px" /></span>
            </td>
            <td>
                <span style="color:white"></span>Tenant’s signature (on move-in)<span *ngIf="!signatureImg1"><a style="width: 250px;color: gainsboro;" [matMenuTriggerFor]="tenantSignMoveIn" mat-button target="_blank">Sign here</a></span> <span *ngIf="signatureImg1"><img style="margin-left: 25px;" src='{{ signatureImg1 }}' height="40px" width="250px"/></span>
            </td>
        </tr>
        <!-- <tr style="height: 35px;">
            <td style="width:50%;border-right: 1px solid;">                
            </td>
            <td>                
            </td>
        </tr> -->
        <tr style="border-top: 1px solid;">
            <td style="width:35%;vertical-align: top;border-right: 1px solid;">
                4. Landlord’s signature (on move-out) <span *ngIf="!signatureImg4"><a style="width: 350px;color: gainsboro;" [matMenuTriggerFor]="landlordSignMoveOut" mat-button target="_blank">Sign here</a></span> <span *ngIf="signatureImg4"><img style="margin-left: 25px;" src='{{ signatureImg4 }}' height="40px" width="250px" /></span>
            </td>
            <td>
                <span style="color:white"></span>Tenant’s signature (on move-out)<span *ngIf="!signatureImg2"><a style="width: 350px;color: gainsboro;" [matMenuTriggerFor]="tenantSignMoveOut" mat-button  target="_blank">Sign here</a></span><span *ngIf="signatureImg2"><img style="margin-left: 25px;" src='{{ signatureImg2 }}' height="40px" width="250px" /></span>
            </td>
        </tr>
        <tr style="height: 35px;">
            <td style="width:50%;border-right: 1px solid;">                
            </td>
            <td>                
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <th colspan="5" style="text-align: left;font-weight: normal;">
                5. Tenant’s forwarding address:
            </th>
        </tr>
        <tr class="address-title" style="line-height: 1.25;">
            <td style="width: 10%;border-bottom: 0;">suite/unit #</td>
            <td  style="width: 40%;border-bottom: 0;">street # and name</td>
            <td style="width: 23%;border-bottom: 0;">city</td>
            <td>province</td>
            <td> postal code</td>
        </tr>
        <tr class="address" style="background: #f0eff9;height:35px;">
            <td ></td>
            <td ></td>
            <td ></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th colspan="5" style="text-align: left;font-weight: normal;height:20px">
                Email address for service:
            </th>
        </tr>
        <tr>
            <th colspan="5" style="text-align: left;font-weight: normal;">
                6. Landlord’s name and address at the end of the tenancy:
            </th>
        </tr>
        <tr class="address-title" style="line-height: 1.25;">
            <td style="width: 10%;border-bottom: 0;">suite/unit #</td>
            <td  style="width: 40%;border-bottom: 0;">street # and name</td>
            <td style="width: 23%;border-bottom: 0;">city</td>
            <td>province</td>
            <td> postal code</td>
        </tr>
        <tr class="address" style="background: #f0eff9;height:35px;">
            <td ></td>
            <td ></td>
            <td ></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <mat-menu #tenantSign="matMenu" >
        <!-- <p style="width: 200px;padding-left: 10px;">Please Sign Here....</p>
        <div class="signature-container">
            <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
        </div>
        <div>
            <button mat-button (click)="savePad()">Save</button>
            <button mat-button (click)="clearSignature();$event.stopPropagation()">Clear</button>
        </div> -->
        <app-signature  (sign)="signed($event)"></app-signature>
        
    </mat-menu>

    <mat-menu #landlordSignMoveIn="matMenu">        
        <app-signature (sign)="signed3($event)"></app-signature>
        
    </mat-menu>

    <mat-menu #tenantSignMoveOut="matMenu">        
        <app-signature (sign)="signed2($event)"></app-signature>
        
    </mat-menu>

    <mat-menu #tenantSignMoveIn="matMenu">        
        <app-signature (sign)="signed1($event)"></app-signature>
        
    </mat-menu>

    <mat-menu #landlordSignMoveOut="matMenu" >
        <!-- <p style="width: 200px;padding-left: 10px;">Please Sign Here....</p>
        <div class="signature-container">
            <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
        </div>
        <div>
            <button mat-button (click)="savePad()">Save</button>
            <button mat-button (click)="clearSignature();$event.stopPropagation()">Clear</button>
        </div> -->
        <app-signature (sign)="signed4($event)"></app-signature>
        
    </mat-menu>


</form>