
// table {
//     border: 1px solid;
//     border-collapse: collapse;
//     border-spacing: 0;
//     padding: 0px;
// }

// td, th {
//     // height: 15px;
//     // padding-top: 0;
//     // padding-bottom: 0;
//     padding: 0px;
// }

// th {
//     height: 15px;
// }

table, td, th {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    padding-left: 5px;
  }

  tr.address td {
      border-top: 0;
  }

  tr.address-title td, tr.address-title {
    border-bottom: 0;
  }

  .spacer {
    flex: 1 1 auto;
}

.spacer {
    flex: 1 1 auto;
}

.signature-container {
  border-style: solid;
  border-width: 1px;
  border-color: #cccbcb;
  margin-bottom: 20px;
  background-color: #f1f1f1;
}