<div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
    <div fxFlex="34%">
        <table style="width: 100%;margin-top: -2px;">
            <tr>
                <td rowspan="11" style="vertical-align: top;width: 160px;">
                    <span style="font-weight: bold;">M. DINNING ROOM</span>
                </td>
                <td style="widows: 100%;border: 1px solid black;text-align: left;">
                    Ceilings</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Walls and Trim
                </td>

            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Floor/Carpet
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left; font-size: .8em;line-height: 1.9;">Lighting Fixtures/Ceiling Fan/Bulbs</td>

            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Windows/Coverings/Screens</td>

            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>

            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="visibility: hidden;">Other</span></td>

            </tr>

        </table>
    </div>
    <div fxFlex="33%">
        <table style="width: 100%;margin-top: -2px;margin-left: -1px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>

            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
    <div fxFlex="33">
        <table style="width: 100%;margin-top: -2px;margin-left: -3px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>

            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                    <span style="visibility: hidden;">N/A</span>
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
</div>
<p style="margin-top:175px;border-bottom: 10px solid #426890;margin-bottom: 2px;"></p>
<div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
    <div style="width:50%;">
        <span style="font-weight:bold;font-style: italic;">
            Residential Tenancy Branch
        </span><br>
        <span style="font-style:italic;">
        Office of Housing and Construction Standards<br>
        #RTB-27 (2011/03)
        </span>
    </div>
    <div class="spacer"></div>
    <div>
        <span style="font-weight:bold;font-style: italic;">page 3 of 8 pages</span>
    </div>
</div>
<div class="html2pdf__page-break"></div>
