<!-- <p>add-section-stairewll-hall works!</p> -->
<form style="width: 100%;" [formGroup]="stairForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="submit()">
    <div [@.disabled]="true" style="width:100%">
        <p>Section Type: <span style="font-weight:bold;">Stairwell & Hall</span></p>
        <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width:100%">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Specify type and description of the area" formControlName="name">
        </mat-form-field>
        <mat-tab-group style="width: 100%;">
            <mat-tab label="BEGINNING OF TENANCY">
                <mat-card class="section-card mat-elevation-z0">
                    <div formGroupName="conditionIn">
                        <mat-card-content fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center center">
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Treads and Landings</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="treadAndLandingsCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="treadAndLandingsCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Railing/Bannister</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="railingBannisterCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="railingBannisterCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Walls and Trim</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="wallTrimCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="wallTrimCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Cellings</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="cellingCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="cellingCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Closet</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="closetsCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="closetsCmnts">
                                </mat-form-field>
                            </div>
                            
                            
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Lighting Fixtures/Bulbs</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="lightingCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="lightingCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Windows/Covering/Screens</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="windowsCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="windowsCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Electric Outlets</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="electricCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="electricCmnts">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </div>
                </mat-card>

            </mat-tab>
            <mat-tab label="END OF TENANCY">
                <div formGroupName="conditionOut">
                    <mat-card class="section-card mat-elevation-z0">
                        <mat-card-content fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center center">
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Treads and Landings</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="treadAndLandingsCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="treadAndLandingsCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Railing/Bannister</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="railingBannisterCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="railingBannisterCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Walls and Trim</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="wallTrimCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="wallTrimCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Cellings</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="cellingCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="cellingCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Closet</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="closetsCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="closetsCmnts">
                                </mat-form-field>
                            </div>
                            
                            
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Lighting Fixtures/Bulbs</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="lightingCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="lightingCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Windows/Covering/Screens</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="windowsCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="windowsCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Electric Outlets</p>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="electricCode">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="electricCmnts">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    
                </div>
            </mat-tab>
        </mat-tab-group>
        <mat-checkbox style="margin-bottom: 20px;width: 100%;" (change)="clicked($event)" [checked]="addMore">Add more section</mat-checkbox>
        <button type="submit" mat-raised-button color="primary" style="margin-top:20px; width: 100%;margin-bottom: 20px;">SAVE & CONTINUE</button>
    </div>
</form>
