<!-- <p>kitchen-view-item works!</p> -->
<div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
    <div fxFlex="34%" style="margin-top: -4px;">
        <table style="width: 100%;margin-top: 3px;">
            <tr>
                <td rowspan="19" style="vertical-align: top;width: 160px;">
                    <span style="font-weight: bold;">K. KITCHEN</span>
                </td>
                <td style="widows: 100%;border: 1px solid black;text-align: left;">
                    Ceilings</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Walls and Trim
                </td>
                
            </tr>


            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Floor/Carpet
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Countertop
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Cabinets and Doors
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Stove/Stove Top 
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Oven
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Exhaust Hood and Fan
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Taps, Sink and Stoppers
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Refrigerator
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="margin-left: 15px;">Crisper/Shelves</span>
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="margin-left: 15px;">Freezer</span>
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    <span style="margin-left: 15px;">Door/Exterior </span>
                </td>                        
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Closet(s)
                </td>
                
            </tr>
                
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Dishwasher
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left; font-size: .8em;line-height: 1.8;">Lighting Fixtures/Ceiling Fan/Bulbs</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Windows/Coverings/Screens</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Other</td>                
            </tr>
            
        </table>
    </div>
    <div fxFlex="33%" style="margin-top: -4px;">
        <table style="width: 100%;margin-top: 3px;margin-left: -1px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.cellingCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.cellingCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.wallTrimCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.wallTrimCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.floorCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.floorCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.counterTopCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.counterTopCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.cabnetsAndDoorsCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.floorCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.counterTopCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.cabnetsAndDoorsCode | code}}</td>
            </tr>   
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.ovenCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.ovenCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.exhaustHoodAndFanCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.exhaustHoodAndFanCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.tapSinkCmnts}}></td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.tapSinkCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;color: white;">Details</td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.frigeSelvesCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.frigeSelvesCode | code}}></td>
            </tr>            
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.frigeFreezerCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.frigeFreezerCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.frigeExteriorCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.frigeExteriorCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.closetsCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.closetsCode | code}}</td>
            </tr>
            
            
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.dishWasherCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.dishWasherCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.lightingCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.lightingCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.windowsCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.windowsCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.electricCmnts}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.electricCode | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionIn.otherCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionIn.otherCmnts | code}}</td>
            </tr>
           
            
            <!-- <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr> -->

        </table>
    </div>
    <div fxFlex="33" style="margin-top: -4px;">
        <table style="width: 100%;margin-top: 3px;margin-left: -3px;"> <!--visibility: hidden;[class.emptyCell]="empty"-->
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">{{kitchenSectionDetails.conditionOut.cellingCmnts | empty}}</td>
                <td style="border: 1px solid black;text-align: center;">{{kitchenSectionDetails.conditionOut.cellingCode  | code}}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                <td style="border: 1px solid black;text-align: center;">&#10003;</td>
            </tr>

        </table>
    </div>
</div>
