<!-- <p>report-view-additional-content works!</p> -->
<app-report-view-header [note]="'addendum'"></app-report-view-header>

<app-entry-view-item *ngIf="secondEntrySection" [entrySectionDetails]="secondEntrySection" [reportId]="id" ></app-entry-view-item>
<app-kitchen-view-item *ngIf="secondKitchenSection" [kitchenSectionDetails]="secondKitchenSection" [reportId]="id"></app-kitchen-view-item>
<app-livingroom-view-item *ngIf="familyRoomSection" [livingRoomSectionDetails]="familyRoomSection" [reportId]="id"></app-livingroom-view-item>

<app-mainbathroom-view-item *ngIf="secondBathroom" [mainBathroomSectionDetails]="secondBathroom" [reportId]="id"></app-mainbathroom-view-item>
<app-mainbathroom-view-item *ngIf="thirdBathRoom" [mainBathroomSectionDetails]="thirdBathRoom" [reportId]="id"></app-mainbathroom-view-item>
<app-mainbathroom-view-item *ngIf="forthBathroom" [mainBathroomSectionDetails]="forthBathroom" [reportId]="id"></app-mainbathroom-view-item>

<app-maasterbedroom-view-item *ngIf="thirdBedroom" [masterBedroomSectionDetails]="thirdBedroom" [reportId]="id"></app-maasterbedroom-view-item>
<app-maasterbedroom-view-item *ngIf="forthBedroom" [masterBedroomSectionDetails]="forthBedroom" [reportId]="id"></app-maasterbedroom-view-item>
<app-maasterbedroom-view-item *ngIf="fiftBedroom" [masterBedroomSectionDetails]="fiftBedroom" [reportId]="id"></app-maasterbedroom-view-item>