
<table>    
    <tr rowspan="2">
        <th style="border-right: 0; background: #426890;color: white;text-align: left;height:35px;vertical-align:bottom;">
            A. Legal name of landlords(s):
        </th>
        <th style="border-left: 0; background: #426890;">           
        </th>
    </tr>
    <tr style="line-height: 1.25;">
        <td style="border-bottom: 0;width: 55%;">landlord first and middle name (or business name) </td>
        <td style="border-bottom: 0;">landlord last name </td>
    </tr>
    <tr style="background: #f0eff9;height:35px;border-top: 0">
        <td style="border-top: 0;"></td>
        <td style="border-top: 0;"></td>
    </tr>
    <tr style="line-height: 1.25;">
        <td style="border-bottom: 0;">landlord first and middle name </td>
        <td style="border-bottom: 0;">landlord last name </td>
    </tr>
    <tr style="background: #f0eff9;height:35px;border-top: 0">
        <td style="border-top: 0;"></td>
        <td style="border-top: 0;"></td>
    </tr>    
</table>
<table>
    <tr >
        <th colspan="5" style="border-right: 0; background: #426890;color: white;text-align: left;height:30px;vertical-align:bottom;">
            B.  Landlord’s address for service:
        </th>
        <!-- <th style="border-left: 0; background: #426890;">           
        </th>
        <th style="border-left: 0; background: #426890;">           
        </th>
        <th style="border-left: 0; background: #426890;">           
        </th>
        <th style="border-left: 0; background: #426890;">           
        </th> -->
    </tr>
    <tr style="line-height: 1.25;">
        <td style="width: 10%;border-bottom: 0;">suite/unit #</td>
        <td  style="width: 45%;border-bottom: 0;">street # and name</td>
        <td style="width: 23%;border-bottom: 0;">city</td>
        <td>province</td>
        <td>province</td>
    </tr>
    <tr style="background: #f0eff9;height:35px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>