<table *ngIf="report">
    <tr rowspan="2">
        <th style="border-right: 0; background: #426890;color: white;text-align: left;height:35px;vertical-align:bottom;">
            A. Legal name of landlords(s):
        </th>
        <th style="border-left: 0; background: #426890;">

        </th>
    </tr>
    <tr style="line-height: 1.25;">
        <td style="border-bottom: 0;width: 50%;">landlord first and middle name (or business name) </td>
        <td style="border-bottom: 0;">landlord last name </td>
    </tr>
    <tr style="background: #f0eff9;height:35px;border-top: 0">
        <td style="border-top: 0;">{{l_firstName}}</td>
        <td style="border-top: 0;">{{l_lastName}}</td>
    </tr>
    <tr style="line-height: 1.25;">
        <td style="border-bottom: 0;">landlord first and middle name </td>
        <td style="border-bottom: 0;">landlord last name </td>
    </tr>
    <tr style="background: #f0eff9;height:35px;border-top: 0">
        <td style="border-top: 0;"></td>
        <td style="border-top: 0;"></td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="5" style="border-right: 0; background: #426890;color: white;text-align: left;height:30px;vertical-align:bottom;">
            B. Landlord’s address for service:
        </th>
    </tr>
    <tr class="address-title" style="line-height: 1.25;">
        <td style="width: 10%;border-bottom: 0;">suite/unit #</td>
        <td style="width: 40%;border-bottom: 0;">street # and name</td>
        <td style="width: 23%;border-bottom: 0;">city</td>
        <td>province</td>
        <td> postal code</td>
    </tr>
    <tr class="address" style="background: #f0eff9;height:35px;">
        <td style="border-top: 0;">{{report.landlord.address.unit}}</td>
        <td>{{report.landlord.address.street}}</td>
        <td>{{report.landlord.address.city}}</td>
        <td>{{report.landlord.address.province}}</td>
        <td>{{report.landlord.address.postcode}}</td>
    </tr>
</table>
<table>
    <tr rowspan="2">
        <th style="border-right: 0; background: #426890;color: white;text-align: left;vertical-align:bottom;">
            C. Legal name of tenant(s):
        </th>
        <th style="border-left: 0; background: #426890;">
        </th>
    </tr>
    <tr style="line-height: 1.25;">
        <td style="border-bottom: 0;width: 50%;">first and middle name </td>
        <td style="border-bottom: 0;">last name </td>
    </tr>
    <tr style="background: #f0eff9;height:35px;border-top: 0">
        <td style="border-top: 0;">{{t_firstName}}</td>
        <td style="border-top: 0;">{{t_lastName}}</td>
    </tr>
    <tr style="line-height: 1.25;">
        <td style="border-bottom: 0;">first and middle name </td>
        <td style="border-bottom: 0;">last name </td>
    </tr>
    <tr style="background: #f0eff9;height:35px;border-top: 0">
        <td style="border-top: 0;"></td>
        <td style="border-top: 0;"></td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="5" style="border-right: 0; background: #426890;color: white;text-align: left;height:30px;vertical-align:bottom;">
            D.Tenant’s address for service:
        </th>
    </tr>
    <tr class="address-title" style="line-height: 1.25;">
        <td style="width: 10%;border-bottom: 0;">suite/unit #</td>
        <td style="width: 40%;border-bottom: 0;">street # and name</td>
        <td style="width: 23%;border-bottom: 0;">city</td>
        <td>province</td>
        <td> postal code</td>
    </tr>
    <tr class="address" style="background: #f0eff9;height:35px;">
        <td>{{report.tenant.address.unit}}</td>
        <td>{{report.tenant.address.street}}</td>
        <td>{{report.tenant.address.city}}</td>
        <td>{{report.tenant.address.province}}</td>
        <td>{{report.tenant.address.postcode}}</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2" style="border-right: 0; background: #426890;color: white;text-align: left;vertical-align:bottom;">
            E. Possession date
        </th>
        <th colspan="2" style="border-left: 0; background: #426890;color: white;">
            F. Move-in inspection date
        </th>
    </tr>
    <tr style="line-height: 1.25;height: 40px;vertical-align: top;">
        <td style="border-bottom: 0;width: 15%;">DD/MM/YYYY</td>
        <td style="border-bottom: 0;width: 35%;text-align: center;">{{report.possesionDate.seconds * 1000 | date:'dd/MM/yyyy'}}</td>
        <td style="border-bottom: 0;width: 15%;">DD/MM/YYYY</td>
        <td style="border-bottom: 0;width: 35%;text-align: center;">{{report.moveInInspectDate.seconds * 1000 | date:'dd/MM/yyyy'}}</td>
    </tr>
</table>
<table>
    <tr>
        <th colspan="2" style="border-right: 0; background: #426890;color: white;text-align: left;vertical-align:bottom;">
            G. Move-out date
        </th>
        <th colspan="2" style="border-left: 0; background: #426890;color: white;">
            H. Move-out inspection date
        </th>
    </tr>
    <tr style="line-height: 1.25;height: 40px;vertical-align: top;">
        <td style="border-bottom: 0;width: 15%;">DD/MM/YYYY</td>
        <td style="border-bottom: 0;width: 35%;text-align: center;">{{report.moveOutDate.seconds * 1000 | date:'dd/MM/yyyy'}}</td>
        <td style="border-bottom: 0;width: 15%;">DD/MM/YYYY</td>
        <td style="border-bottom: 0;width: 35%;text-align: center;">{{report.moveOutInspectDate.seconds * 1000 | date:'dd/MM/yyyy'}}</td>
    </tr>
</table>
<table>
    <tr rowspan="2">
        <th style="border-right: 0; background: #426890;color: white;text-align: left;vertical-align:bottom;">
            C. Legal name of tenant(s):
        </th>
        <th style="border-left: 0; background: #426890;">
        </th>
    </tr>
    <tr style="line-height: 1.25;">
        <td style="border-bottom: 0;width: 50%;">on move-in</td>
        <td style="border-bottom: 0;">on move-out </td>
    </tr>
    <tr style="background: #f0eff9;height:35px;border-top: 0">
        <td style="border-top: 0;"></td>
        <td style="border-top: 0;"></td>
    </tr>
</table>
<p style="margin-top: 230px;text-align: center;font-size:.8em;font-weight: 600;">
    SEE INSTRUCTIONS FOR COMPLETING FORM ON LAST PAGE
</p>
<p style="text-align: center;font-size:.758em;font-weight: 600;line-height: 1.5;">
    Your personal information is collected under section 26 (a) and (c) of the Freedom of Information and Protection of Privacy Act for the purpose of administering the Residential Tenancy Act. If you have any questions regarding the collection of your personal
    information, please call 604-660-1020 in Greater Vancouver; 250-387-1602 in Victoria; or 1-800-665-8779 elsewhere in B.C
</p>
<p style="border-bottom: 10px #426890 solid;margin-bottom: 2px;"></p>
<div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
    <div style="width:50%;">
        <span style="font-style: italic;">
        #RTB-27 (2011/03)
        </span>
    </div>
    <div class="spacer"></div>
    <div>
        <span style="font-weight:bold;font-style: italic;">page 1 of 8 pages</span>
    </div>
</div>
<div class="html2pdf__page-break"></div>
