<!-- <p>inspection-entry works!</p> (opened)="panelOpenState = true" (closed)="panelOpenState = false"-->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Section Type: {{entrySectionDetails[0].type}}
        </mat-panel-title>
        <mat-panel-description>
            <!-- {{entrySectionDetails.name}} -->
        </mat-panel-description>
    </mat-expansion-panel-header>
    <form style="width: 100%;" [formGroup]="entryForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="submit()">
        <div [@.disabled]="true" style="width:100%">
            <mat-form-field appearance="outline" style="width:100%">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Specify type and description of the area" value="Entry: ">
                <!-- <mat-icon matSuffix>view_headline</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
                <!-- <mat-hint align="end">hint</mat-hint> -->
            </mat-form-field>
            <!-- <form style="width: 100%;" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="submit()"> -->
                <mat-tab-group style="width: 100%;">

                    <mat-tab label="BEGINNING OF TENANCY">
                        <mat-card class="section-card mat-elevation-z0">
                            <mat-card-content fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center center">
                                <!-- <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                    <p style="width: 35%;text-align: left;margin-left: 5px;">Walls and Tim</p>
                                    <mat-form-field style="width: 15%;">
                                        <mat-label>Code</mat-label>
                                        <mat-select id="propertyType1" formControlName="code">
                                            <mat-option *ngFor="let code of codes" [value]="code.name">
                                                {{ code.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 50%;">
                                        <mat-label>Comments</mat-label>
                                        <input matInput placeholder="Comments" formControlName="comments">
                                    </mat-form-field>
                                </div> -->
                                <app-section-item style="width: 100%;" [codes]="codes" [sectionTitle]="sectionTitle[0]" [entryForm]="entryForm" [code]="controlCodes[0]" [comments]="controlComments[0]"></app-section-item>
                                <!-- <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                    <p style="width: 35%;text-align: left;margin-left: 5px;">Cellings</p>
                                    <mat-form-field style="width: 15%;">
                                        <mat-label>Code</mat-label>
                                        <mat-select id="propertyType1" formControlName="code">
                                            <mat-option *ngFor="let code of codes" [value]="code.name">
                                                {{ code.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 50%;">
                                        <mat-label>Comments</mat-label>
                                        <input matInput placeholder="Comments" formControlName="comments">
                                    </mat-form-field>
                                </div> -->
                                <app-section-item style="width: 100%;" [codes]="codes" [sectionTitle]="sectionTitle[1]"></app-section-item>
                                



                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="END OF TENANCY">
                        <mat-card class="section-card mat-elevation-z0">
                            <mat-card-content fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center center">
                                <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%">
                                    <p style="width: 35%;text-align: left;margin-left: 5px;">Walls and Tim</p>
                                    <mat-form-field style="width: 15%;">
                                        <mat-label>Code</mat-label>
                                        <mat-select id="propertyType1" formControlName="code">
                                            <mat-option *ngFor="let code of codes" [value]="code.name">
                                                {{ code.name }}
                                            </mat-option>
                                            <!-- <mat-option value="G">Good</mat-option>
                                            <mat-option value="F">Fair</mat-option>
                                            <mat-option value="P">Poor</mat-option>
                                            <mat-option value="M">Missing</mat-option> -->
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 50%;">
                                        <mat-label>Comments</mat-label>
                                        <input matInput placeholder="Comments" formControlName="comments">
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-tab>
                </mat-tab-group>
                <button type="submit" mat-raised-button color="primary" style="margin-top:20px; width: 100%;">SAVE & CONTINUE</button>
            <!-- </form> -->
        </div>
    </form>
    
</mat-expansion-panel>
