<!-- <p>report-view-content works!</p> -->
<div fxLayout="column" fxLayoutAlign="start start" fxFlexFill class="container" style="margin-top: 5px; font-size: .9em;">
    <div class="container2" fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
        <div fxFlex=20%></div>
        <div fxFlex=70% style="margin-top: -5px;font-weight: bold;color:#1150af;">
            SEE INSTRUCTIONS FOR COMPLETING FORM ON LAST PAGE
        </div>
        <div fxFlex=10% style="margin-top: -5px;">
            #RTB – 27 
        </div>
    </div>
    <form style="width: 100%;">
        <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
            <div fxFlex="80%">
                <span>A. LEGAL NAME OF LANDLORD</span>  <span style="font-size: .8em;font-style: italic;">(if entry is a business name, enter the full legal business name)</span><br>
                <span style="margin-left: 15px;margin-right: 8px;margin-bottom: -10px;"><input type="text" style="width: 96%;margin-top: 0;" ></span><br>
                <div style="margin-left: 25px;font-size: .75em;margin-top: -13px;">last name, first & middle names</div>
            </div>
            <div fxFlex="25%">
                <span>E. POSSESSION DATE</span><br>
                <span style="margin-left: 15px;margin-right: 8px;margin-bottom: -10px;"><input type="text" style="width: 90%;margin-top: 0;" ></span><br>
                <div  style="margin-left: 25px;font-size: .75em;margin-top: -13px;">
                    <span style="margin-left: 5px;">day <span style="margin-left: 15px;">month</span>> <span style="margin-left: 15px;">year</span></span>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
            <div fxFlex="80%" style="margin-top: -5px;">
                <span>B. LANDLORD’S ADDRESS FOR SERVICE</span>  <span style="font-size: .8em;font-style: italic;">(if entry is a business name, enter the full legal business name)</span><br>
                <span style="margin-left: 15px;margin-right: 8px;margin-bottom: -10px;">
                    <input type="text" style="width: 10%;margin-top: 0;" >
                </span>
                <span style="margin-left: 0px;margin-right: 8px;margin-bottom: -10px;">
                    <input type="text" style="width: 34%;margin-top: 0;" >
                </span>
                <span style="margin-left: 0px;margin-right: 8px;margin-bottom: -10px;">
                    <input type="text" style="width: 15%;margin-top: 0;" >
                </span>
                <span style="margin-left: 0px;margin-right: 8px;margin-bottom: -10px;">
                    <input type="text" style="width: 10%;margin-top: 0;" >
                </span>
                <span style="margin-left: 0px;margin-right: 8px;margin-bottom: -10px;">
                    <input type="text" style="width: 20%;margin-top: 0;" >
                </span><br>
                <div style="margin-left: 25px;font-size: .75em;margin-top: -13px;">
                    <span >unit#</span>
                    <span style="margin-left: 35px;">street address</span>
                    <span style="margin-left: 135px;">city</span>
                    <span style="margin-left: 80px;">province</span>
                    <span style="margin-left: 30px;">postal code</span>
                </div>
            </div>
            <div fxFlex="25%" style="margin-top: -5px;">
                <span>F. MOVE-IN INSPECTION DATE</span><br>
                <span style="margin-left: 15px;margin-right: 8px;margin-bottom: -10px;"><input type="text" style="width: 90%;margin-top: 0;" ></span><br>
                <div  style="margin-left: 25px;font-size: .75em;margin-top: -13px;">
                    <span style="margin-left: 5px;">day <span style="margin-left: 15px;">month</span>> <span style="margin-left: 15px;">year</span></span>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
            <div fxFlex="80%" style="margin-top: -5px;">
                <span>C. LEGAL NAME OF TENANT</span>  <span style="font-size: .8em;font-style: italic;">(if entry is a business name, enter the full legal business name)</span><br>
                <span style="margin-left: 15px;margin-right: 8px;margin-bottom: -10px;"><input type="text" style="width: 96%;margin-top: 0;" ></span><br>
                <div style="margin-left: 25px;font-size: .75em;margin-top: -13px;">last name, first & middle names</div>
            </div>
            <div fxFlex="25%" style="margin-top: -5px;">
                <span>G.MOVE-OUT DATE</span><br>
                <span style="margin-left: 15px;margin-right: 8px;margin-bottom: -10px;"><input type="text" style="width: 90%;margin-top: 0;" ></span><br>
                <div  style="margin-left: 25px;font-size: .75em;margin-top: -13px;">
                    <span style="margin-left: 5px;">day <span style="margin-left: 15px;">month</span>> <span style="margin-left: 15px;">year</span></span>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
            <div fxFlex="80%" style="margin-top: -5px;">
                <span>D. ADDRESS FO RENTAL UNIT</span><br>
                <span style="margin-left: 15px;margin-right: 8px;margin-bottom: -10px;">
                    <input type="text" style="width: 10%;margin-top: 0;" >
                </span>
                <span style="margin-left: 0px;margin-right: 8px;margin-bottom: -10px;">
                    <input type="text" style="width: 34%;margin-top: 0;" >
                </span>
                <span style="margin-left: 0px;margin-right: 8px;margin-bottom: -10px;">
                    <input type="text" style="width: 15%;margin-top: 0;" >
                </span>
                <span style="margin-left: 0px;margin-right: 8px;margin-bottom: -10px;">
                    <input type="text" style="width: 10%;margin-top: 0;" >
                </span>
                <span style="margin-left: 0px;margin-right: 8px;margin-bottom: -10px;">
                    <input type="text" style="width: 20%;margin-top: 0;" >
                </span><br>
                <div style="margin-left: 25px;font-size: .75em;margin-top: -13px;">
                    <span >unit#</span>
                    <span style="margin-left: 35px;">street address</span>
                    <span style="margin-left: 135px;">city</span>
                    <span style="margin-left: 80px;">province</span>
                    <span style="margin-left: 30px;">postal code</span>
                </div>
            </div>
            <div fxFlex="25%" style="margin-top: -5px;">
                <span style="font-size: .95EM;" > H.MOVE-OUT INSPECTION DATE</span><br>
                <span style="margin-left: 15px;margin-right: 8px;margin-bottom: -10px;"><input type="text" style="width: 90%;margin-top: 0;" ></span><br>
                <div  style="margin-left: 25px;font-size: .75em;margin-top: -13px;">
                    <span style="margin-left: 5px;">day <span style="margin-left: 15px;">month</span>> <span style="margin-left: 15px;">year</span></span>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
            <div fxFlex="50%" style="margin-top: -5px;">
                <span>I. LEGAL NAME OF TENANT’S AGENT </span>  <span style="font-size: .8em;font-style: italic;">(if applicable)</span><br>
                <span style="margin-left: 15px;margin-right: 8px;margin-bottom: -10px;"><input type="text" style="width: 96%;margin-top: 0;" ></span><br>
                <div style="margin-left: 25px;font-size: .75em;margin-top: -13px;">last name, first & middle names</div>
            </div>
            <div fxFlex="50%" style="margin-top: -5px;">
                <span style="visibility: hidden;">I. LEGAL NAME OF TENANT’S AGENT <span style="font-size: .8em;font-style: italic;">(if applicable)</span></span><br>                
                <span style="margin-left: 15px;margin-right: 8px;margin-bottom: -10px;"><input type="text" style="width: 95%;margin-top: 0;" ></span><br>
                <!-- <div  style="margin-left: 25px;font-size: .75em;margin-top: -13px;">
                    <span style="margin-left: 5px;">day <span style="margin-left: 15px;">month</span>> <span style="margin-left: 15px;">year</span></span>
                </div> -->
                <div style="margin-left: 25px;font-size: .75em;margin-top: -13px;">last name, first & middle names</div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
            <div fxFlex="34%" style="border: 1px solid;padding-left: 5px;">
                <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
                    <div fxFlex="65%" fxLayout="column" fxLayoutAlign="start start">
                        <div style="font-weight: bold;font-size: 1.25em;">Condition Codes:</div>
                        <div style="margin-top: -10px;">&#10003;=Good</div>
                        <div style="margin-top: -10px;">F=Fair</div>
                        <div style="margin-top: -10px;">P=Poor</div>
                        <div style="margin-top: -10px;">M=Missing</div>
                        
                    </div>
                    <div fxFlex="35%">
                        <div >D=Damaged</div>
                        <div style="margin-top: -10px;">S=Scratched</div>
                        <div style="margin-top: -10px;">B=Broken</div>
                        <div style="margin-top: -10px;">DI=Dirty</div>
                        <div style="margin-top: -10px;">ST=Stained</div>
                    </div>
                </div>
                <!-- <table style="width: 100%;">
                    <tr style="height: 15px;">
                        <td ><span style="font-weight: bold;">Condition Codes:</span></td>
                        <td>D=Damaged</td>
                    </tr>
                    <tr style="height: 15px;">
                        <td >&#10003;=Good</td>
                        <td>S=Scratched</td>
                    </tr>
                    <tr style="height: 15px;">
                        <td>F=Fair</td>
                        <td>B=Broken</td>
                    </tr>
                    <tr style="height: 15px;">
                        <td>P=Porr</td>
                        <td>DI=Dirty</td>
                    </tr>
                    <tr style="height: 15px;">
                        <td>M=Missing</td>
                        <td>ST=Stained</td>
                    </tr>
                </table> -->
            </div>
            <div fxFlex="33%">
                <table style="width: 100%;border: 1px solid black;margin-left: -1px;">                    
                    <tr>
                        <td colspan="2" style="border: 1px solid black;text-align: center;font-size: 1.25em;padding-top: 5px;padding-bottom: 5px;width:150px;">
                        Condition at Beginning of Tenancy
                        </td>
                    </tr>
                    <!-- <tr style="border-bottom: 1px solid black;">
                        <td></td>
                        <td style="border-right: 1px solid black;"></td>
                    </tr> -->
                    <tr style="border: 1px solid black;height: 30px;">
                        <td style="border: 1px solid black;text-align: center;font-size: 1.25em;width: 150px;">COMMENT</td>
                        <td style="border: 1px solid black;text-align: center;font-size: 1.25em;">CODE</td>
                    </tr>
                    <!-- <tr style="border: 1px solid black;">
                    <td style="border: 1px solid black;"></td></tr> -->
                </table>
            </div>
            <div fxFlex="33%">
                <table style="width: 100%;border: 1px solid black;margin-left: -3px;">                    
                    <tr>
                        <td colspan="2" style="border: 1px solid black;text-align: center;font-size: 1.25em;padding-top: 5px;padding-bottom: 5px;">
                        Condition at End of Tenancy
                        </td>
                    </tr>                    
                    <tr style="border: 1px solid black;height: 30px;">
                        <td style="border: 1px solid black;text-align: center;font-size: 1.25em;width: 150px;">COMMENT</td>
                        <td style="border: 1px solid black;text-align: center;font-size: 1.25em;">CODE</td>
                    </tr>                   
                </table>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
            <div fxFlex="34%">
                <table style="width: 100%;margin-top: 3px;">
                    <tr>
                        <td rowspan="8" style="vertical-align: top;width: 160px;">
                            <span style="font-weight: bold;">J. ENTR</span>
                        </td>
                        <td style="widows: 100%;border: 1px solid black;text-align: left;">
                            Walls and Trim</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Ceilings
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Closets
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left; font-size: .8em;">Lighting Fixtures/Ceiling Fan/Bulbs</td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">Windows/Coverings/Screens</td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">Other</td>
                        
                    </tr>
                    
                </table>
            </div>
            <div fxFlex="33%">
                <table style="width: 100%;margin-top: 3px;margin-left: -1px;">
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <!-- <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr> -->

                </table>
            </div>
            <div fxFlex="33">
                <table style="width: 100%;margin-top: 3px;margin-left: -3px;">
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <!-- <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr> -->

                </table>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
            <div fxFlex="34%" style="margin-top: -4px;">
                <table style="width: 100%;margin-top: 3px;">
                    <tr>
                        <td rowspan="19" style="vertical-align: top;width: 160px;">
                            <span style="font-weight: bold;">K. KITCHEN</span>
                        </td>
                        <td style="widows: 100%;border: 1px solid black;text-align: left;">
                            Ceilings</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Walls and Trim
                        </td>
                        
                    </tr>


                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Floor/Carpet
                        </td>                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Countertop
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Cabinets and Doors
                        </td>                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Stove/Stove Top 
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Oven
                        </td>                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Exhaust Hood and Fan
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Taps, Sink and Stoppers
                        </td>                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Refrigerator
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            <span style="margin-left: 15px;">Crisper/Shelves</span>
                        </td>                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            <span style="margin-left: 15px;">Freezer</span>
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            <span style="margin-left: 15px;">Door/Exterior </span>
                        </td>                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Closet(s)
                        </td>
                        
                    </tr>
                        
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Dishwasher
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left; font-size: .8em;">Lighting Fixtures/Ceiling Fan/Bulbs</td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">Windows/Coverings/Screens</td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">Other</td>
                        
                    </tr>
                    
                </table>
            </div>
            <div fxFlex="33%" style="margin-top: -4px;">
                <table style="width: 100%;margin-top: 3px;margin-left: -1px;">
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                   
                    
                    <!-- <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr> -->

                </table>
            </div>
            <div fxFlex="33" style="margin-top: -4px;">
                <table style="width: 100%;margin-top: 3px;margin-left: -3px;">
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>

                </table>
            </div>
        </div>
        <!-- id="page2el" -->
        <div  fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
            <div fxFlex="34%">
                <table style="width: 100%;margin-top: 3px;">
                    <tr>
                        <td rowspan="11" style="vertical-align: top;width: 160px;">
                            <span style="font-weight: bold;">L. LIVING ROOM</span>
                        </td>
                        <td style="widows: 100%;border: 1px solid black;text-align: left;">
                            Ceilings</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Walls and Trim
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Floor/Carpet
                        </td>                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Air Conditioner/Cover
                        </td>                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Fireplace
                        </td>                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            TV Cable/Adaptor
                        </td>                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">
                            Closets
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left; font-size: .8em;">Lighting Fixtures/Ceiling Fan/Bulbs</td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">Windows/Coverings/Screens</td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>
                        
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;">Other</td>
                        
                    </tr>
                    
                </table>
            </div>
            <div fxFlex="33%">
                <table style="width: 100%;margin-top: 3px;margin-left: -1px;">
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr>
                    <!-- <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr> -->

                </table>
            </div>
            <div fxFlex="33">
                <table style="width: 100%;margin-top: 3px;margin-left: -3px;">
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">n/a</td>
                        <td style="border: 1px solid black;text-align: center;">n/a</td>
                    </tr>
                    <!-- <tr>
                        <td style="border: 1px solid black;text-align: left;width: 151px;">dfas dfgasd</td>
                        <td style="border: 1px solid black;text-align: center;">&#10003;</td>
                    </tr> -->

                </table>
            </div>
        </div>
        
        
    </form>
    
</div>
