<!-- <p>report-details works!</p> -->
<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="details-card mat-elevation-z0" *ngIf="report">
        <mat-card-header>
            <div mat-card-avatar class="details-header-image"></div>
            <mat-card-title>{{report.title}} <span style="font-size: .75em;">
                Rental Unit Address: {{report.tenant.address.street}}
                {{report.tenant.address.city}}
                {{report.tenant.address.province}}
                {{report.tenant.address.postcode}}
            </span></mat-card-title>
            <mat-card-subtitle>Completed: {{report.completed | trueFalse}} <span> &nbsp; &nbsp;Created on: {{report.created.seconds * 1000 | date:'yyyy-MM-dd'}}, Last Updated on: {{report.updated.seconds * 1000 | date:'yyyy-MM-dd'}}</span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="end center">
            <span *ngIf="!edit" style="width: 95%;">
                <span  class="material-icons" (click)="enableEdit()" style="cursor: pointer;color: green;">
                    edit
                </span>
            <span style="vertical-align: top;"> &nbsp;Edit</span>
            </span>
            <span *ngIf="edit" style="width: 95%;">
                <span class="material-icons" (click)="cancelEdit()" style="cursor: pointer;color: red;">
                clear
            </span>
            <span style="vertical-align: top;">&nbsp; Cancel</span>
            </span>

            <!-- *ngIf="!edit" -->
            <section class="content">
                <div fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="1%">
                    <form class="form-container form-width" [formGroup]="detailForm" (ngSubmit)="submit()">
                        <mat-form-field appearance="outline" class="field-width">
                            <mat-label>Report Title</mat-label>
                            <input [readonly]="!edit" matInput placeholder="Report Title" formControlName="title">
                            <mat-icon matSuffix>view_headline</mat-icon>
                        </mat-form-field>
                        <div formGroupName="landlord" class="field-width">
                            <mat-form-field appearance="outline" class="field-width">
                                <mat-label class="text-uppercase">legal name of landlord</mat-label>
                                <input [readonly]="!edit" matInput placeholder="First name middle name last name" formControlName="legalName">
                                <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                            <p class="text-uppercase field-width">landlord's address for service</p>
                            <div formGroupName="address" style="width: 100%;">
                                <div fxLayout="row" fxLayoutAlign="start start" style="width: 100%;">
                                    <mat-form-field appearance="outline" style="width: 10%;">
                                        <mat-label>unit #</mat-label>
                                        <input [readonly]="!edit" matInput formControlName="unit" placeholder="Unit #">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 30%;">
                                        <mat-label>street address</mat-label>
                                        <input [readonly]="!edit" matInput formControlName="street" placeholder="Street Address">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 25%;">
                                        <mat-label>city</mat-label>
                                        <input [readonly]="!edit" matInput formControlName="city" placeholder="City">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 15%;">
                                        <mat-label>province</mat-label>
                                        <input [readonly]="!edit" matInput formControlName="province" placeholder="Province">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 20%;">
                                        <mat-label>postal code</mat-label>
                                        <input [readonly]="!edit" matInput formControlName="postcode" placeholder="Postal Code">
                                    </mat-form-field>

                                </div>
                            </div>
                        </div>
                        <div formGroupName="tenant" class="field-width">
                            <mat-form-field appearance="outline" class="field-width">
                                <mat-label class="text-uppercase">legal name of tenant</mat-label>
                                <input [readonly]="!edit" matInput placeholder="First name middle name last name" formControlName="legalName">
                                <mat-icon matSuffix>person</mat-icon>
                                <!-- <mat-hint>Hint</mat-hint> -->
                                <!-- <mat-hint align="end">hint</mat-hint> -->
                            </mat-form-field>
                            <p class="text-uppercase">address of rental unit</p>
                            <div formGroupName="address" style="width: 100%;">
                                <div fxLayout="row" fxLayoutAlign="start start" style="width: 100%;">
                                    <mat-form-field appearance="outline" style="width: 10%;">
                                        <mat-label>unit #</mat-label>
                                        <input [readonly]="!edit" matInput placeholder="Unit #" formControlName="unit">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 30%;">
                                        <mat-label>street address</mat-label>
                                        <input matInput [readonly]="!edit" placeholder="Street Address" formControlName="street">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 25%;">
                                        <mat-label>city</mat-label>
                                        <input matInput [readonly]="!edit" placeholder="City" formControlName="city">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 15%;">
                                        <mat-label>province</mat-label>
                                        <input matInput [readonly]="!edit" placeholder="Provincee" formControlName="province">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 20%;">
                                        <mat-label>postal code</mat-label>
                                        <input matInput [readonly]="!edit" placeholder="Postal Code" formControlName="postcode">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="start start" style="margin-bottom: 20px;" class="field-width">
                            <mat-form-field style="width: 25%;">
                                <mat-label>Possession Date</mat-label>
                                <input matInput formControlName="possesionDate">
                                <!-- <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker> [matDatepicker]="picker1"-->
                            </mat-form-field>
                            <mat-form-field style="width: 25%;">
                                <mat-label>Move-In Inspec. Date</mat-label>
                                <input matInput formControlName="moveInInspectDate">
                                <!-- <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker> [matDatepicker]="picker2"-->
                            </mat-form-field>
                            <mat-form-field style="width: 25%;">
                                <mat-label>Move-Out Date</mat-label>
                                <input matInput formControlName="moveOutDate">
                                <!-- <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker> [matDatepicker]="picker3"-->
                            </mat-form-field>
                            <mat-form-field style="width: 23%;">
                                <mat-label>Move-Out Inspec. Date</mat-label>
                                <input matInput formControlName="moveOutInspectDate">
                                <!-- <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>  [matDatepicker]="picker4"-->
                            </mat-form-field>
                        </div>

                    </form>

                </div>
            </section>
            <!-- <section *ngIf="edit">
                Edit
            </section> -->
        </mat-card-content>

    </mat-card>



</div>



<!-- <mat-form-field appearance="outline" style="width: 10%;">
  <mat-label>unit #</mat-label>
  <input matInput placeholder="Report Title">
</mat-form-field>
<mat-form-field appearance="outline" style="width: 30%;">
  <mat-label>street address</mat-label>
  <input matInput placeholder="Report Title">
</mat-form-field>
<mat-form-field appearance="outline" style="width: 25%;">
  <mat-label>city</mat-label>
  <input matInput placeholder="Report Title">
</mat-form-field>
<mat-form-field appearance="outline" style="width: 15%;">
  <mat-label>province</mat-label>
  <input matInput placeholder="Report Title">
</mat-form-field>
<mat-form-field appearance="outline" style="width: 20%;">
  <mat-label>postal code</mat-label>
  <input matInput placeholder="Report Title">
</mat-form-field> -->
