<!-- <p>report-details works!</p> -->
<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="details-card mat-elevation-z0">
        <mat-card-header>
            <div mat-card-avatar class="details-header-image"></div>
            <mat-card-title>Shiba Inu <span style="font-size: .75em;">Rental Unit Address: 123 Main Street, Vancouver, BC V1V 1V1</span></mat-card-title>
            <mat-card-subtitle>Status: Completed <span>Created on: 9/23/2020, Last Updated on: 9/27/2020</span></mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    
</div>
