<!-- <p>forgot-password works!</p> -->
<div fxLayout="column" fxLayoutAlign="center center" >
    <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="restPssordForm" (ngSubmit)="submit()" style="width: 80%;">
        <mat-form-field class="form-content form-field" style="margin-top: 25px;">
            <mat-icon matPrefix class="icon" style="vertical-align: top;">email</mat-icon>
            <input type="email" formControlName="email" class="input-margin" matInput placeholder="Email">
        </mat-form-field>
        <button mat-raised-button color="primary" class="signin-button">Reset Password</button>
    </form>

</div>
