<div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
    <div fxFlex="34%" style="border: 1px solid;padding-left: 5px;">
        <div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
            <div fxFlex="65%" fxLayout="column" fxLayoutAlign="start start">
                <div style="font-weight: bold;font-size: 1.25em;">Condition Codes:</div>
                <div style="margin-top: -10px;">&#10003;=Good</div>
                <div style="margin-top: -10px;">F=Fair</div>
                <div style="margin-top: -10px;">P=Poor</div>
                <div style="margin-top: -10px;">M=Missing</div>
                
            </div>
            <div fxFlex="35%">
                <div >D=Damaged</div>
                <div style="margin-top: -10px;">S=Scratched</div>
                <div style="margin-top: -10px;">B=Broken</div>
                <div style="margin-top: -10px;">DI=Dirty</div>
                <div style="margin-top: -10px;">ST=Stained</div>
            </div>
        </div>        
    </div>
    <div fxFlex="33%">
        <table style="width: 100%;border: 1px solid black;margin-left: -1px;">                    
            <tr>
                <td colspan="2" style="border: 1px solid black;text-align: center;font-size: 1.25em;padding-top: 5px;padding-bottom: 5px;width:150px;">
                Condition at Beginning of Tenancy
                </td>
            </tr>
            <!-- <tr style="border-bottom: 1px solid black;">
                <td></td>
                <td style="border-right: 1px solid black;"></td>
            </tr> -->
            <tr style="border: 1px solid black;height: 30px;">
                <td style="border: 1px solid black;text-align: center;font-size: 1.25em;width: 150px;">COMMENT</td>
                <td style="border: 1px solid black;text-align: center;font-size: 1.25em;">CODE</td>
            </tr>
            <!-- <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;"></td></tr> -->
        </table>
    </div>
    <div fxFlex="33%">
        <table style="width: 100%;border: 1px solid black;margin-left: -3px;">                    
            <tr>
                <td colspan="2" style="border: 1px solid black;text-align: center;font-size: 1.25em;padding-top: 5px;padding-bottom: 5px;">
                Condition at End of Tenancy
                </td>
            </tr>                    
            <tr style="border: 1px solid black;height: 30px;">
                <td style="border: 1px solid black;text-align: center;font-size: 1.25em;width: 150px;">COMMENT</td>
                <td style="border: 1px solid black;text-align: center;font-size: 1.25em;">CODE</td>
            </tr>                   
        </table>
    </div>
</div>
