<!-- <p>entry-view-item works!</p> -->
<div fxLayout="row" fxLayoutAlign="start start" fxFlexFill style=" font-size: .8em;">
    <div fxFlex="34%">
        <table style="width: 100%;margin-top: 3px;">
            <tr>
                <td rowspan="8" style="vertical-align: top;width: 160px;">
                    <span style="font-weight: bold;">J. ENTRY<br>
                        <span style="font-weight: 500;font-size:.8em; margin-left:10px"></span>
                    </span>
                </td>
                <td style="widows: 100%;border: 1px solid black;text-align: left;">
                    Walls and Trim</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                   <span>Ceilings</span> 
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                    Closets
                </td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left; font-size: .8em; line-height:1.9">Lighting Fixtures/Ceiling Fan/Bulbs</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Windows/Coverings/Screens</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">Electrical Outlets</td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;">
                   <span style="visibility:hidden;">Other</span>
                </td>
                
            </tr>
            
        </table>
    </div>
    <div fxFlex="33%">
        <table style="width: 100%;margin-top: 3px;margin-left: -1px;" >
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;" >
                </td>                
                <td style="border: 1px solid black;text-align: center;"></td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                </td>
                <td style="border: 1px solid black;text-align: center;" ></td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                </td>
                <td style="border: 1px solid black;text-align: center;" ></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;" >
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>           

        </table>
    </div>
    <div fxFlex="33">
        <table style="width: 100%;margin-top: 3px;margin-left: -3px;">
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;" >
                </td>                
                <td style="border: 1px solid black;text-align: center;"></td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">
                </td>
                <td style="border: 1px solid black;text-align: center;" ></td>
                
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">                    
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;">                    
                </td>
                <td style="border: 1px solid black;text-align: center;" ></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;text-align: left;width: 151px;" >
                    
                </td>
                <td style="border: 1px solid black;text-align: center;"></td>
            </tr>
            
        </table>
    </div>
</div>

