<!-- <p>add-section-keys-controls works!</p> -->
<form style="width: 100%;" [formGroup]="keyControlForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="submit()">
    <div [@.disabled]="true" style="width:100%">
        <p>Section Type: <span style="font-weight:bold;">Keys and Controls</span><span style="font-weight:bold;color:red;" *ngIf="alreadyAdded"> &nbsp; <mat-icon style="vertical-align: bottom;margin-left: 15px;">warning</mat-icon> Key and Control section already exists!</span></p>
        <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width:100%">
            <!-- <mat-label>Description</mat-label> -->
            <input matInput placeholder="Specify type and description of the area" formControlName="name">
        </mat-form-field>
        <mat-tab-group style="width: 100%;" >
            <mat-tab label="BEGINNING OF TENANCY">
                <mat-card class="section-card mat-elevation-z0">
                    <div formGroupName="conditionIn">
                        <mat-card-content fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center center">
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Building Entrance Keys</p>
                                <mat-form-field style="width:20%;">
                                    <mat-label>No. of Keys</mat-label>
                                    <mat-select id="propertyType1" formControlName="buildingEntrandeKey">
                                        <mat-option *ngFor="let key of keys" [value]="key.number">
                                            {{ key.number }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 45%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="buildingEntrandeKeyCmnts">
                                </mat-form-field>
                            </div>                            
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Rental Unit Entrance Main Locks</p>
                                <mat-form-field style="width: 20%;">
                                    <mat-label>No. of Keys</mat-label>
                                    <mat-select id="propertyType1" formControlName="rentalUnitEntranceKey">
                                        <mat-option *ngFor="let key of keys" [value]="key.number">
                                            {{ key.number }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 45%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="rentalUnitEntranceCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Rental Unit Deadbolt</p>
                                <mat-form-field style="width:20%;">
                                    <mat-label>No. of Keys</mat-label>
                                    <mat-select id="propertyType1" formControlName="rentalUnityDeadBoltKey">
                                        <mat-option *ngFor="let key of keys" [value]="key.number">
                                            {{ key.number }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 45%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="rentalUnityDeadBoltCmnts">
                                </mat-form-field>
                            </div>                            
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Parking Remote Control</p>
                                <mat-form-field style="width: 20%;">
                                    <mat-label>No. of Keys</mat-label>
                                    <mat-select id="propertyType1" formControlName="parkginRemoteControlKey">
                                        <mat-option *ngFor="let key of keys" [value]="key.number">
                                            {{ key.number }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 45%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="parkginRemoteControlCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Other</p>
                                <mat-form-field style="width: 20%;">
                                    <mat-label>No. of Keys</mat-label>
                                    <mat-select id="propertyType1" formControlName="otherKey">
                                        <mat-option *ngFor="let key of keys" [value]="key.number">
                                            {{ key.number }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 45%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="otherCmnts">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="END OF TENANCY">
                <div formGroupName="conditionOut">
                    <mat-card class="section-card mat-elevation-z0">
                        <mat-card-content fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center center">
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Building Entrance Keys</p>
                                <mat-form-field style="width:20%;">
                                    <mat-label>No. of Keys</mat-label>
                                    <mat-select id="propertyType1" formControlName="buildingEntrandeKey">
                                        <mat-option *ngFor="let key of keys" [value]="key.number">
                                            {{ key.number }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 45%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="buildingEntrandeKeyCmnts">
                                </mat-form-field>
                            </div>                            
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Rental Unit Entrance Main Locks</p>
                                <mat-form-field style="width: 20%;">
                                    <mat-label>No. of Keys</mat-label>
                                    <mat-select id="propertyType1" formControlName="rentalUnitEntranceKey">
                                        <mat-option *ngFor="let key of keys" [value]="key.number">
                                            {{ key.number }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 45%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="rentalUnitEntranceCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Rental Unit Deadbolt</p>
                                <mat-form-field style="width:20%;">
                                    <mat-label>No. of Keys</mat-label>
                                    <mat-select id="propertyType1" formControlName="rentalUnityDeadBoltKey">
                                        <mat-option *ngFor="let key of keys" [value]="key.number">
                                            {{ key.number }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 45%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="rentalUnityDeadBoltCmnts">
                                </mat-form-field>
                            </div>                            
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Parking Remote Control</p>
                                <mat-form-field style="width: 20%;">
                                    <mat-label>No. of Keys</mat-label>
                                    <mat-select id="propertyType1" formControlName="parkginRemoteControlKey">
                                        <mat-option *ngFor="let key of keys" [value]="key.number">
                                            {{ key.number }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 45%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="parkginRemoteControlCmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;padding-top: 5px;">
                                <p style="width: 35%;text-align: left;margin-left: 5px;">Other</p>
                                <mat-form-field style="width: 20%;">
                                    <mat-label>No. of Keys</mat-label>
                                    <mat-select id="propertyType1" formControlName="otherKey">
                                        <mat-option *ngFor="let key of keys" [value]="key.number">
                                            {{ key.number }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 45%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="otherCmnts">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>                    
                </div>
            </mat-tab>
        </mat-tab-group>
        <!-- <mat-checkbox style="margin-bottom: 20px;width: 100%;" (change)="clicked($event)" [checked]="addMore">Add more section</mat-checkbox> -->
        <button [disabled]="alreadyAdded" type="submit" mat-raised-button color="primary" style="margin-top:20px; width: 100%;margin-bottom: 20px;">SAVE & CONTINUE</button>
    </div>
</form>
