<!-- <p>add-section-other works!</p> -->
<form style="width: 100%;" [formGroup]="otherForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="submit()">
    <div [@.disabled]="true" style="width:100%">
        <p>Section Type: <span style="font-weight:bold;">Others</span></p>
        <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width:100%">
            <!-- <mat-label>Description</mat-label> -->
            <input matInput placeholder="Specify type and description of the area" formControlName="name">
        </mat-form-field>
        <mat-tab-group style="width: 100%;">
            <mat-tab label="BEGINNING OF TENANCY">
                <mat-card class="section-card mat-elevation-z0">
                    <div formGroupName="conditionIn">
                        <mat-card-content fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center center">
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <!-- <p style="width: 35%;text-align: left;margin-left: 5px;"></p> -->
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Description" formControlName="other1Name">
                                </mat-form-field>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="other1Code">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="other1Cmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <!-- <p style="width: 35%;text-align: left;margin-left: 5px;"></p> -->
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Description" formControlName="other2Name">
                                </mat-form-field>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="other2Code">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="other2Cmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <!-- <p style="width: 35%;text-align: left;margin-left: 5px;"></p> -->
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Description" formControlName="other3Name">
                                </mat-form-field>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="other3Code">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="other3Cmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <!-- <p style="width: 35%;text-align: left;margin-left: 5px;"></p> -->
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Description" formControlName="other4Name">
                                </mat-form-field>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="other4Code">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="other4Cmnts">
                                </mat-form-field>
                            </div>
                            
                        </mat-card-content>
                    </div>
                </mat-card>

            </mat-tab>
            <mat-tab label="END OF TENANCY">
                <div formGroupName="conditionOut">
                    <mat-card class="section-card mat-elevation-z0">
                        <mat-card-content fxLayout="column" fxLayoutGap="1%" fxLayoutAlign="center center">
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <!-- <p style="width: 35%;text-align: left;margin-left: 5px;"></p> -->
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Description" formControlName="other1Name">
                                </mat-form-field>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="other1Code">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="other1Cmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <!-- <p style="width: 35%;text-align: left;margin-left: 5px;"></p> -->
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Description" formControlName="other2Name">
                                </mat-form-field>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="other2Code">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="other2Cmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <!-- <p style="width: 35%;text-align: left;margin-left: 5px;"></p> -->
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Description" formControlName="other3Name">
                                </mat-form-field>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="other3Code">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="other3Cmnts">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center center" style="width:100%;border:1px solid;padding-left: 5px;padding-right: 5px;">
                                <!-- <p style="width: 35%;text-align: left;margin-left: 5px;"></p> -->
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Description" formControlName="other4Name">
                                </mat-form-field>
                                <mat-form-field style="width: 15%;">
                                    <mat-label>Code</mat-label>
                                    <mat-select id="propertyType1" formControlName="other4Code">
                                        <mat-option *ngFor="let code of codes" [value]="code.name">
                                            {{ code.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [floatLabel]="floatLabelControl.value" style="width: 50%;">
                                    <mat-label>Comments</mat-label>
                                    <input matInput placeholder="Comments: Max. 25 chars" maxlength="25" formControlName="other4Cmnts">
                                </mat-form-field>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    
                </div>
            </mat-tab>
        </mat-tab-group>
        <!-- <mat-checkbox style="margin-bottom: 20px;width: 100%;" (change)="clicked($event)" [checked]="addMore">Add more section</mat-checkbox> -->
        <button type="submit" mat-raised-button color="primary" style="margin-top:20px; width: 100%;margin-bottom: 20px;">SAVE & CONTINUE</button>
    </div>
</form>